* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------header---------------------- */

header {
  height: 100vh;
  background-image: url(./imagen/hombre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head {
  color: white;
}

.hamburguer {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 28vw;
  height: 100%;
  transform: translate(110%);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color-a{
  color: white;
  font-size: 35px;
}

.muestra {
  transform: translate(0);
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.parrafo {
  font-weight: 60px;
  font-size: 25px;
}

.color-nav {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.logo {
  width: 50%;
  margin-left: -3%;
}



/* -------------------Formulario---------------------- */

.formulario {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}

/* -------------------Clases Generales---------------------- */

.fondoRopa {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.letra-parrafo {
  font-size: 30px;
}

.letra-titulo {
  font-size: 40px;
}

.scroll {
  height: 100vh;
}

.pro {
  height:70vh ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* -------------------Footer---------------------- */

.medios-pago{
  width: 15%;
}

.medios-social{
  width: 8%;
}

.redesSocial__fixed {
  position: fixed;
  bottom: 0px;
  right: -130px;
  width: 190px;
  height: 60px;
}
.redesSocial__fixed .btn__twitter:hover {
  transform: scale(1.3, 1.3);
  cursor: hand;
}
.redesSocial__fixed .btn__Facebook:hover {
  transform: scale(1.3, 1.3);
  cursor: hand;
}
.redesSocial__fixed .btn__whatsapp:hover {
  transform: scale(1.3, 1.3);
  cursor: hand;
}
.redesSocial__fixed img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
}
.redesSocial__fixed img .twitter {
  transform: scale(1.25);
}
.redesSocial__fixed img .whatsapp {
  transform: scale(0.95);
}


/* -------------------Clases Indumentaria Hombre/Mujer---------------------- */


.tituloRopa {
  font-size: 50px;
  margin-bottom: 20px;
}
#contanido {
  margin-bottom: 30px;
}

.cart {
  width: 90%;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  border-radius: 15px;
}
.car-img {
  height: 250px;
  margin: 15px;
}
.producto-carrito {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product-details {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding: 6px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.finaliza {
  width: 30%;
  height: 60px;
  padding: 6%;
  font-weight: bold;
}

#remove-product {
  width: 100px;
  height: 80px;
  text-align: center;
  font-size: 19px;
}

.total-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-weight: bold;
  font-size: 1.5rem;
  width: 30%;
  padding: 15px;
  display: flex;
  justify-content: center;
  background: #86c9d1;
  border-radius: 5px;
  margin-bottom: 15px;
}

.compra-finalizada {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 50px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.compra-parrafo {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  border: 1px, solid, black !important;
  border-radius: 15px;
}

.form-tamanio{
  width: 80%;
  height: auto;
}

.datos-parrafo {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.letra-formulario{
  color: white;
  font-size: 20px;
}

.formulario-ropa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.envio {
  margin-top: 15px;
}

.mensaje-final {
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  border: 1px, solid, black;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
}

